
@{
    ViewBag.Title = "Index";
}

<h2>Inicio</h2>
<p>Bienvenido a nuestro sistema de Libros y Autores</p>

@Html.ActionLink("Listado de Libros", "Index", "Libro")

@Html.ActionLink("Crear Libro", "Create", "Libro")
